<a href="https://colab.research.google.com/github/vanshika11890/pythonkiclass/blob/main/python_class_cb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello my name is vanshika") #first python code
#variabe and data type
first = 100
second =200
sum = first+second
print(sum)
print("this is sum of first and second", sum)

monthly_sal= 20000
annual_sal= monthly_sal*12
print("annual salary is", annual_sal)

#dynamic commands
name = input("enter your name")
print("your name is", name)

num_1= int(input("enter first number"))
num_2= int(input("enter second number"))
sum= num_1+num_2
print("sum is=",sum)






#2nd lecture

# if weather is below 10= too cold, if weather is 11-20 = mild cold, weather is 21-30= mild hot

temp= int(input("enter temperature"))
if temp<10:
    print("too cold")
elif temp>=10 and temp<=20:
     print("mildcold")
elif temp>=21 and temp<=30:
     print("mildhot")
else:
    print("too hot")

hello my name is vanshika
300
this is sum of first and second 300
annual salary is 240000
enter your namevan
your name is van
enter first number77
enter second number99
sum is= 176
enter temperature19
mildcold

In [ ]:
#another program
#total bill above 1000= 10% dis, bill 500-1000=5% discount ,bill below 500 = 3% dis

item_1= int(input("enter price of item 1="))
item_2= int(input("enter price of item 2="))
item_3= int(input("enter price of item 3="))
total_bill= item_1+item_2+item_3

if total_bill>1000:
  discount= total_bill*10/100
  print("the discount will be:", total_bill *10/100)
  net_bill= total_bill-discount
  print("the net bill will be:", net_bill)
elif total_bill<=1000 and total_bill>=500:
  discount= total_bill*5/100
  print("the discount will be:", total_bill *5/100)
  net_bill=total_bill-discount
  print("the net bill will be:", net_bill)
else:
  discount= total_bill*3/100
  print("the discount will be:", total_bill *3/100)
net_bill=total_bill-discount
print("the net bill will be:", net_bill)

enter price of item 1=10
enter price of item 2=20
enter price of item 3=40
the discount will be: 2.1
the net bill will be: 67.9

In [ ]:
#checking if positive,negative or 0

number=int(input("enter number here"))
if number >0:
    print("number is positive")
elif number <0:
     print("number is negative")
else:
      print("number is zero")

enter number here+8
number is positive

# New Section

# New Section

In [ ]:
#calculating the bill

units=int(input("enter units consumed"))
if units<=100:
   bill = units*5
   print("the bill will be:", bill)
elif units>=101 and units<=200:
    bill = units*7
    print("the bill will be:", bill)
else:
    bill = units*10
    print("the bill will be:", bill)

enter units consumed200
the bill will be: 1400

In [ ]:
correct_username = "admin"
correct_password = "1234"


username= input("enter username=")
password= input("enter password=")

if username==correct_username and password==correct_password:
    print("login succesfully")
elif username!=correct_username:
    print("invallid username")
elif password!=correct_password:
    print("invalid password")
else:
    print("login failed")

enter username=admin
enter password=3452
invalid password

In [ ]:
num= int(input("enter number"))

if num%2 == 0:
  print ("number is even")
else:
  print("numbern is odd")

enter number89
number is odd

In [ ]:

#lecture 3 loops
#for loops:

lists = ("frerien","attack on titan","demon slayer","noragami","fruit basket")
 #print[lists(2)] #we use this for a specific word display


for anime in lists: #here the variable anime is temporaray,we can change it.
    print(anime)

frerien
attack on titan
demon slayer
noragami
fruit basket

In [ ]:
# loop in range

for x in range(11):
    print (x)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#while in loops:

i = 10
while i<=20:
      print(i)
      i+=1

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#break : ye humare code ko break lga deta hai jaha tak mention ho
for i in range(30):
 if i==25:
  break
  print(i)

In [ ]:
print("welcome to the website")

welcome to the website

In [ ]:
#break : ye humare code ko break lga deta hai jaha tak mention ho
for i in range(30):
 if i==25:
    break
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
#continue

for i in range (20):
     if i==15:
        continue
     print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19

In [ ]:
for x in range (1,11): #range loop from 1 to 10
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1    #even numbers from 1 to 50
while i<=51:
  if i%2==0:
    print(i)
  i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
task=int(input("enter number"))
for i in range (1,11):
    mul=task*i
    print(mul)

enter number2
2
4
6
8
10
12
14
16
18
20

In [ ]:
task_2=int(input("enter number:"))
i= 1
sum= task_2+i
print(sum)

enter number:4
5

In [ ]:
for name in "vanshika":
  print(name)

v
a
n
s
h
i
k
a

In [ ]:
for x in range(10,1, -1):
     print(x)

10
9
8
7
6
5
4
3
2

In [ ]:
# num=int(input("enter your number:"))
# result = 1
# for i in range(1,num+1):
#     result*=i

# print(result)




num=int(input("enter your number:"))
result=1
for i in range(1,num+1):
  result*=i
  print(result)

enter your number:8
1
2
6
24
120
720
5040
40320

In [ ]:
num=int(input("enter your number:"))
result=1
for i in range(1,num+1):
  result+=i
  print(result)

enter your number:5
2
4
7
11
16

In [ ]:

#DATA STRUCTURE CONSISTS OF
#LIST
#tuples
#set
#dictonries



#list nd tuples

#list USED TO STORE COLLECTION OF ITEMS

#CREATIN LIST
languages=['japanese','german','french','english','spanish','chinese'] #LISTS ARE MUTABLE(i.e we can change,modify,add,remove)

#acesss list
print(languages[5])

#modify elements
languages[2]='mandrin'
print(languages)

#adding new element (APPEND)

languages.append('itlain')
print(languages)

#removing any element (REMOVE)

chinese
['japanese', 'german', 'mandrin', 'english', 'spanish', 'chinese']
['japanese', 'german', 'mandrin', 'english', 'spanish', 'chinese', 'itlain']

In [ ]:
#TUPLES : like list but immutable

colors=('red','dark blue','yellow') #tum yaha content cange nahi kar sakte
print(colors[2])

yellow

In [ ]:
#SET: collection of unordered items , immutable, no duplicates allowed bhaisahab, no indesing allowed

my_set = {1,2,3,4,5,6,7}
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#SET OPERATIONS

a={1,2,3,4}
b={3,4,5,6}

#union
print(a.union(b))  # print(a|b)

#intersection
print(a.intersection(b)) #print(a&b)

#difference
print(a-b)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [ ]:
#DICTIONARIES (KEYS AND VALUES KA PAIR) KEYS ARE UNIQUE AND IMMUTABLE

my_dict= {
           "name" : "avanshika",
           "age" : 20,
           "city" : "delhi"
}
print(my_dict["age"])

#add or update items

my_dict["age"]= 30
print(my_dict)

20
{'name': 'avanshika', 'age': 30, 'city': 'delhi'}

In [ ]:
#function and modules



#it is a reuseable blockof code that performs specific tasks
#function woh hotahai that has its: name()

#USER DEFINED FUNCTION

def greetbot(name):
  print(f"HELLO ITS GREAT TO SEE YOU {name}")

# Example of how to call the function:
greetbot("Alice")

HELLO ITS GREAT TO SEE YOU Alice

In [ ]:
#FUNCTION WITHH RETURN VALUE

def add(a,b):
  return a+b
sum = add(10,20)   #FUNCTION KO CALL KARNA
print(sum)

30

In [ ]:
#FUNCTION WITH DEFAULT PARAMETER

def greet(name= "dear user"):
  print(f"HELLO {name}")

greet("tamako san")

HELLO tamako san

In [ ]:
def num_check(number):
 if number % 2 == 0:
  print("NUMBER IS EVEN")
 else:
  print("NUMBER IS ODD")

num_check(10)

NUMBER IS EVEN

In [ ]:
def factorial(num):
  result = 1
  for i  in range(1, num+1):
   result *= i
  return result

factorial(4)

24

In [ ]:
def greet(name="user"):
 print(f"welcome {name} glad to see you here again!")

greet("vanshika")

welcome vanshika glad to see you here again!

In [ ]:
#checking if number is odd or even

def num_check(number):
  if number % 2 == 0:
   print("number is even,yipeee!!!!")
  else:
   print("number you have given is odd, what the hell:(")


maths= num_check(25)

number you have given is odd, what the hell:(

In [ ]:
#factorial of a number

def facto(num):
 result=1
 for i in range(1,num+1):
  result*= i
 return result

maths= facto(5)
print (maths)

120

In [ ]:
#greeting your user

def greeting(name="DEAR USER"):
  print(f"WE ARE GLAD TO SEE YOU BACK HERE {name}")


greeting( "vanshika")

WE ARE GLAD TO SEE YOU BACK HERE vanshika

In [ ]:
def bigger(a,b,c):
  if a>b and a>c:
   return a
  elif b>a and b>c:
   return b
  else:
   return c

bigger(10,20,30)

30

In [ ]:
#creating a userdefined function


# ques = input("What is capital of India")
# if ques == "delhi":
#      print("your answer is correct")
# else :
#      print("your answer is wrong")


#(converting this into user defined function)

def quiz(ques):
  if ques == "delhi":
   print("your answer is correct")
  else :
   print("your answer is wrong")

QUE = input("What is capital of India")
quiz(QUE)

What is capital of IndiaDelhi
your answer is wrong

In [ ]:
#making a calculator

 def add(a,b):
 return a+b

def mul(a,b):
  return a*b

def sub(a,b):
  return a-b

def div(a,b):
  return a/b

val_1 = int(input("enter your number"))
val_2 = int(input("enter your number"))
operation = input("enter your operation")

if operation == "+":
  print(add(val_1,val_2))

elif operation == "_":
  print(sub(val_1,val_2))

elif operation == "*":
  print(mul(val_1,val_2))

elif operation == "/":
  print(div(val_1,val_2))

else:
  print("invalid operation")

enter your number80
enter your number40
enter your operation/
2.0

In [ ]:

#modules

#user defined modules

%%writefile vanam.py


def greet(name):
  print(f"HELLO {name}")

def sum(a,b):
  return a+b
  print(f"the sum is {sum}")

def mul(a,b):
  return a*b
  print(f"the multiplication is {mul}")

def num_check(number):
 if number % 2 == 0:
  print("NUMBER IS EVEN")
 else:
  print("NUMBER IS ODD")

Overwriting vanam.py

In [ ]:
import vanam

print(vanam.greet("pooja mam"))
print(vanam.sum(2,9))
print(vanam.mul(2,9))
print(vanam.num_check(10))

HELLO pooja mam
None
11
18
NUMBER IS EVEN
None

In [ ]:
#grading system

marks= int(input("enter your marks"))  #enter students number value
if marks >= 60 :  # if student scored between the range of 60 - 100 it'll give 1st
      print("1st division")
      if marks >= 90:
        print("topper")
      elif marks >=75 and marks<90 :
        print("distinct")
      elif marks <75 and marks >= 60 :
        print("very good")

elif marks <60 and marks >=45:  #  if student scored between the range of  45 -60 it'll give 2nd
      print (" 2nd division")
      if marks >=45 and  marks <50:
         print("improver")
      elif marks >=50 and marks <59:
          print("learner")

elif marks >=35 and marks <45 :  # if student scored between the range of  35 - 45 it'll give 3rd
      print("3rd division")

else:
     print("fail")

enter your marks46
 2nd division
improver

In [ ]:
gender = input("enter your gender here:")
age = int(input("enter your age here:"))
if gender ==("male") and age <=30 :
   print("you are assinged block A building A")
elif gender ==("male") and age >30 :
   print("you are assigned block A building B")
elif gender ==("female") and age <=30 :
   print("you are assigned block B building A")
else:
   print("you are assigned block B building B")staff divison
 ''' we have been given the task to divide the workforce appropriately according to their age and gender.
 THERE ARE 2 BLOCKS IN THE HOTEL AND THESE 2 BLOCKS HAVE THEIR RESPECTIVE 2 BUILDINGS IN THEM
 BLOCK A = FOR MALES
  BLOCK B = FOR FEMALES'''

enter your gender here:female
enter your age here:90
you are assigned block B building B

In [ ]:
gender = input(" Please enter your gender here:")

if gender ==("male"):
    print("Please head towards blockA")
    age = int(input("Please enter your age here:"))
    if age <=30 :
        print("you are assinged blockA building A")
    elif age >30 :
        print("you are assinged blockA building B")
elif gender ==("female"):
    print("Please head towards blockB")
    age = int(input("Please enter your age here:"))
    if age <=30 :
        print("you are assigned blockB building A")
    elif age >30 :
        print("you are assigned blockB building B")
else:
    print("Enter valid input!")

 Please enter your gender here:female
Please head towards blockB
Please enter your age here:80
you are assigned blockB building B

In [ ]:
''' receipt of a person who ordered at a restauraunt'''

burger=float(input("enter price of burger:"))  #price of burger is 100
pizza=float(input("enter price of pizza:")) #price of pizza is 350
pasta=float(input("enter price of pasta:")) # price of pasta is 250
sandwich=float(input("enter price of sandwich:")) #price of sandwich is 250
total=burger+pizza+pasta+sandwich
print(f"TOTAL PRICE:₹{total}")
if total >=500: #if the order value a above or equal to 500, cutomer would get 20% off
   print(f"you are eligible for 20% discount : ₹{discount}")
   discount = total*20/100  # if the order value was below 500 and upto 100, customer would get 10% off
   bill = total - discount
   print(f"AMOUNT PAYBLE IS:₹{bill}")
elif total >=100 and total <500:
   print(f"you are eligible for 10% discount :₹{discount} ")
   discount = total*10/100
   bill = total - discount
   print(f"AMOUNT PAYBLE IS:₹{bill}")
else:
   print(f"you are not eligible for any discount and amount payable is:{total}")

enter price of burger:100
enter price of pizza:100
enter price of pasta:100
enter price of sandwich:100
TOTAL PRICE:₹400.0
you are eligible for 10% discount :220.0
AMOUNT PAYBLE IS:₹360.0

In [ ]:
 value_1 = int(input("enter principal value :"))
 value_2 = int(input("enter rate value :"))
 value_3 = int(input("enter time value :"))
 simple_interest =(value_1 * value_2 * value_3)/100
 print(f"simple interest: {simple_interest}")
 amount_payable = value_1 + simple_interest
 print(f"your amount to be payble is : {amount_payable}")

enter principal value :6000
enter rate value :10
enter time value :6
simple interest: 3600.0
your amount to be payble is : 9600.0

In [ ]:
#amazon bill generating

item_1 = 5000                                             #for watch whos price is 5000 but discounted price is 4000
print("price of watch is", item_1)
print("today's discount on watch is 20% : ",(item_1*20/100))
discount = item_1 * 20/100
watch = item_1 - discount
print("watch :", watch)


item_2 = 50000                                           #for laptop whos price is 50000 but discounted price  is 35000
print("price of laptop is", item_2)
print("today's discount on laptop is 30% : ",(item_2*30/100))
discount = item_2 * 30/100
laptop = item_2 - discount
print("laptop :",laptop)

item_3 = 1000                                           #for mouse whos price is 1000 but discounted price is 950
print("price of mouse is",item_3)
print("today's discount on mouse is 5% :", (item_3*5/100))
discount = item_3* 5/100
mouse = item_3 - discount
print("mouse :", mouse)

total = watch+laptop+mouse                               #total amount to be paid before discount
print("total amount to be paid is", total)

code = input("ENTER COUPON CODE HERE :")                 #coupon code VAN111

if code == "VAN111":
   print("you are eligible for 10% discount")
   discount = total * 10/100  # Calculate discount only if code is correct
   bill = total - discount
   print("your bill is", bill)
else:
   print("coupon code does not exist")
   print("your bill is", total) # No discount applied

price of watch is 5000
today's discount on watch is 20% :  1000.0
watch : 4000.0
price of laptop is 50000
today's discount on laptop is 30% :  15000.0
laptop : 35000.0
price of mouse is 1000
today's discount on mouse is 5% : 50.0
mouse : 950.0
total amount to be paid is 39950.0
ENTER COUPON CODE HERE :VAN111
you are eligible for 10% discount
your bill is 35955.0